h1{
    text-align: center;
    text-decoration: underline;
}

table {
    table-layout:fixed;
    width: 100%;
    border-collapse:separate;
  }
  

.title {
    width: 1000px;
    height: 150px;
    padding: 25px;
}